reddit_post_scabber_edited_and_finetuned_.json
{
  "name": "reddit post scabber(edited and finetuned)",
  "nodes": [
    {
      "parameters": {},
      "id": "63aad9d3-32c0-4569-a4b2-bb15b315f4e5",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        -380,
        85
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "0823d10a-ad54-4d82-bcea-9dd236e97857",
              "operator": {
                "type": "number",
                "operation": "gt"
              },
              "leftValue": "={{ $json.ups }}",
              "rightValue": 0
            },
            {
              "id": "bb8187aa-f0f1-4999-8d4b-bdc9abba0618",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              },
              "leftValue": "={{ $json.selftext }}",
              "rightValue": ""
            },
            {
              "id": "539f0f5c-025a-4f82-9b3a-2ef1ad3a2d96",
              "operator": {
                "type": "dateTime",
                "operation": "after"
              },
              "leftValue": "={{ DateTime.fromSeconds($json.created).toISO() }}",
              "rightValue": "={{ $today.minus(5,'days').toISO() }}"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ff9a9336-c4a2-435a-8ba3-e3553aa100a2",
      "name": "Filter Posts By Features",
      "type": "n8n-nodes-base.if",
      "position": [
        280,
        85
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e5082ecc-3add-474e-bdb5-b8ad64729930",
              "name": "upvotes",
              "type": "string",
              "value": "={{ $json.ups }}"
            },
            {
              "id": "a92b5859-fbcc-40c2-95e0-452b12530d98",
              "name": "subreddit_subscribers",
              "type": "number",
              "value": "={{ $json.subreddit_subscribers }}"
            },
            {
              "id": "a846e21c-6cff-4521-9e0c-a32fa1305376",
              "name": "postcontent",
              "type": "string",
              "value": "={{ $json.selftext }}"
            },
            {
              "id": "b8045389-684d-4872-9e32-9a6b5511eb2b",
              "name": "url",
              "type": "string",
              "value": "={{ $json.url }}"
            },
            {
              "id": "f182fedc-1b09-40fe-aeb5-2473263da442",
              "name": "date",
              "type": "string",
              "value": "={{ DateTime.fromSeconds($json.created).toISO() }}"
            },
            {
              "id": "3f5219ba-16d4-4828-8556-5ccb1b47ce4e",
              "name": "keywords",
              "value": "={{ $('Google Sheets').item.json.keywords }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "737637ed-d8d9-4f8d-8e34-a3489b052926",
      "name": "Select Key Fields",
      "type": "n8n-nodes-base.set",
      "position": [
        500,
        85
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "operation": "search",
        "location": "allReddit",
        "keyword": "={{ $json.keywords }}",
        "limit": 12,
        "additionalFields": {
          "sort": "new"
        }
      },
      "id": "0200595f-c449-4aff-9fd1-e6ac88684db9",
      "name": "Get Posts",
      "type": "n8n-nodes-base.reddit",
      "position": [
        60,
        85
      ],
      "typeVersion": 1,
      "credentials": {
        "redditOAuth2Api": {
          "id": "lnEcaZiQ34gnTIls",
          "name": "Reddit account"
        }
      }
    },
    {
      "parameters": {
        "inputText": "=You are an expert in SaaS customer profiling and sentiment analysis.\n\nGiven a comment or post, identify whether the author is:\n\n1. A **Potential Buyer/Lead** — someone expressing interest in using a product like ours (e.g. struggling with pain points, asking for tool suggestions, showing intent to solve a problem).\n2. A **Seller/Promoter** — someone promoting their own product or startup (not a potential buyer).\n3. An **Observer/Other** — neutral participants, general discussion, or unrelated content.\n\nThen analyze the sentiment:\n- Positive = Potential Buyer/Lead\n- Neutral = Observer/Other\n- Negative = Seller/Promoter\n\nthe content you want to analysis:\n{{ $json.postcontent }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.sentimentAnalysis",
      "typeVersion": 1,
      "position": [
        720,
        85
      ],
      "id": "2ed78360-6351-4352-a187-1c3254a377c9",
      "name": "Sentiment Analysis"
    },
    {
      "parameters": {
        "modelName": "models/gemini-1.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        808,
        305
      ],
      "id": "2efa7913-935a-4518-be99-ded6681db5cd",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "Ommlv15TukoeIYSj",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "c3f3fad0-3864-487b-ad39-d6bdd0daa87a",
      "name": "Post Summarization",
      "type": "@n8n/n8n-nodes-langchain.chainSummarization",
      "position": [
        1096,
        -40
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1WqfCuQGU7Y6-jbz-sEOfap3ETGjLXiQP3z7Ej4v4UsY",
          "mode": "list",
          "cachedResultName": "sample 2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WqfCuQGU7Y6-jbz-sEOfap3ETGjLXiQP3z7Ej4v4UsY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WqfCuQGU7Y6-jbz-sEOfap3ETGjLXiQP3z7Ej4v4UsY/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "summary",
              "displayName": "summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "subreddit_subscribers",
              "displayName": "subreddit_subscribers",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "upvotes",
              "displayName": "upvotes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "postcontent",
              "displayName": "postcontent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "business_opportunity",
              "displayName": "business_opportunity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "keywords",
              "displayName": "keywords",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "e2ff7d9e-712c-496f-9fd6-2584f0bd7053",
      "name": "Output The Results",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        1912,
        85
      ],
      "typeVersion": 4.5,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "qe4jgwJaIkSu0ne0",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "9e34bcf4-bc8d-4327-8220-92a286ff88c1",
      "name": "Merge 3 Inputs",
      "type": "n8n-nodes-base.merge",
      "position": [
        1692,
        85
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7038812d-f325-4196-89b6-3623d81dec7b",
              "name": "summary",
              "type": "string",
              "value": "={{ $json.response.text }}"
            }
          ]
        },
        "options": {}
      },
      "id": "d273e848-db5a-4223-b87d-61114d5728d7",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "position": [
        1472,
        -40
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "modelName": "models/gemini-1.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1184,
        180
      ],
      "id": "1a2d5cf2-2cdf-4af8-92e7-8826a4a16e5a",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "Ommlv15TukoeIYSj",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1f34c3f3-7be7-474c-9026-7058807a7b3d",
              "name": "date",
              "type": "string",
              "value": "={{ $json.date }}"
            },
            {
              "id": "0e0e5227-e37b-43fc-8a88-2bb76631108d",
              "name": "subreddit_subscribers",
              "type": "number",
              "value": "={{ $json.subreddit_subscribers }}"
            },
            {
              "id": "68e2ca82-6b1d-42ec-acc7-b784e9ed61b5",
              "name": "url",
              "type": "string",
              "value": "={{ $json.url }}"
            },
            {
              "id": "946800a2-ec8b-4f99-a4db-9248bf305747",
              "name": "upvotes",
              "type": "string",
              "value": "={{ $json.upvotes }}"
            },
            {
              "id": "da86d4d3-db84-44e3-a684-38aff2fd5b77",
              "name": "postcontent",
              "type": "string",
              "value": "={{ $json.postcontent }}"
            },
            {
              "id": "b67148e1-67a5-4b10-be6c-c819ff910be0",
              "name": "business_opportunity",
              "type": "string",
              "value": "={{ $json.sentimentAnalysis.category }}"
            },
            {
              "id": "69cd84d4-3f36-4fb6-9b20-2b6538037467",
              "name": "keywords",
              "value": "={{ $('Google Sheets').item.json.keywords }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "f6c59fa9-1d36-4eae-bee5-165f617afe61",
      "name": "Edit Fields1",
      "type": "n8n-nodes-base.set",
      "position": [
        1472,
        210
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1MTC1_BDJLz0DA6R9MQlYzfSkfU_2K7JexPz8aQzheX4",
          "mode": "list",
          "cachedResultName": "Untitled spreadsheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MTC1_BDJLz0DA6R9MQlYzfSkfU_2K7JexPz8aQzheX4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1564283334,
          "mode": "list",
          "cachedResultName": "Sheet2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MTC1_BDJLz0DA6R9MQlYzfSkfU_2K7JexPz8aQzheX4/edit#gid=1564283334"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -160,
        85
      ],
      "id": "bb6d15b9-5762-441a-805d-f997dbe03107",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "qe4jgwJaIkSu0ne0",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "## scarp the post form the reddit              \n- The keywords are stored in google sheet\n- we filter the post into new to see the recent post\n",
        "height": 380,
        "width": 1040
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -410,
        -135
      ],
      "id": "903dafbc-01a4-49d9-9cf9-cfabf1d96912",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Sentimental analysis \n",
        "height": 480,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        728,
        -35
      ],
      "id": "f7437258-1752-4a28-8df4-4c0f45ab67d9",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Summary the post\n",
        "height": 500,
        "width": 820,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1034,
        -130
      ],
      "id": "8715d5d0-b7b1-4563-9df4-89898ed613d0",
      "name": "Sticky Note2"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Posts By Features": {
      "main": [
        [
          {
            "node": "Select Key Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Posts": {
      "main": [
        [
          {
            "node": "Filter Posts By Features",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select Key Fields": {
      "main": [
        [
          {
            "node": "Sentiment Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Sentiment Analysis",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Sentiment Analysis": {
      "main": [
        [
          {
            "node": "Post Summarization",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post Summarization": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge 3 Inputs": {
      "main": [
        [
          {
            "node": "Output The Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge 3 Inputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Post Summarization",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Merge 3 Inputs",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Get Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "408efb62-1040-4110-bb70-73119f6f2d66",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "754f1595a5333f98c71a385ae239a3c6d1271f14801fcf61c4ad94ceec623443"
  },
  "id": "KMx8EhxHlRj7X4kV",
  "tags": []
}