reddit_post_scabber_edited_and_finetuned__copy.json
{
  "name": "reddit post scabber(edited and finetuned) copy",
  "nodes": [
    {
      "parameters": {},
      "id": "27a01bc9-37a7-49da-a976-1fc833be15f3",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        -380,
        45
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "0823d10a-ad54-4d82-bcea-9dd236e97857",
              "operator": {
                "type": "number",
                "operation": "gt"
              },
              "leftValue": "={{ $json.ups }}",
              "rightValue": 0
            },
            {
              "id": "bb8187aa-f0f1-4999-8d4b-bdc9abba0618",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              },
              "leftValue": "={{ $json.selftext }}",
              "rightValue": ""
            },
            {
              "id": "539f0f5c-025a-4f82-9b3a-2ef1ad3a2d96",
              "operator": {
                "type": "dateTime",
                "operation": "after"
              },
              "leftValue": "={{ DateTime.fromSeconds($json.created).toISO() }}",
              "rightValue": "={{ $today.minus(5,'days').toISO() }}"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "407fe917-4891-4178-a274-537488cb9f30",
      "name": "Filter Posts By Features",
      "type": "n8n-nodes-base.if",
      "position": [
        280,
        45
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e5082ecc-3add-474e-bdb5-b8ad64729930",
              "name": "upvotes",
              "type": "string",
              "value": "={{ $json.ups }}"
            },
            {
              "id": "a92b5859-fbcc-40c2-95e0-452b12530d98",
              "name": "subreddit_subscribers",
              "type": "number",
              "value": "={{ $json.subreddit_subscribers }}"
            },
            {
              "id": "a846e21c-6cff-4521-9e0c-a32fa1305376",
              "name": "postcontent",
              "type": "string",
              "value": "={{ $json.selftext }}"
            },
            {
              "id": "b8045389-684d-4872-9e32-9a6b5511eb2b",
              "name": "url",
              "type": "string",
              "value": "={{ $json.url }}"
            },
            {
              "id": "f182fedc-1b09-40fe-aeb5-2473263da442",
              "name": "date",
              "type": "string",
              "value": "={{ DateTime.fromSeconds($json.created).toISO() }}"
            },
            {
              "id": "3f5219ba-16d4-4828-8556-5ccb1b47ce4e",
              "name": "keywords",
              "value": "={{ $('Google Sheets').item.json.keywords }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "3b198641-9b12-4204-92af-9671f22765f3",
      "name": "Select Key Fields",
      "type": "n8n-nodes-base.set",
      "position": [
        500,
        45
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "operation": "search",
        "location": "allReddit",
        "keyword": "={{ $json.keywords }}",
        "limit": 50,
        "additionalFields": {
          "sort": "hot"
        }
      },
      "id": "ca4f3a1f-3db9-40d6-9b7b-a66680ed6d0c",
      "name": "Get Posts",
      "type": "n8n-nodes-base.reddit",
      "position": [
        60,
        45
      ],
      "typeVersion": 1,
      "credentials": {
        "redditOAuth2Api": {
          "id": "lnEcaZiQ34gnTIls",
          "name": "Reddit account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-1.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        808,
        265
      ],
      "id": "698e3aa4-e1d4-480e-83d9-626afa46c180",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "Ommlv15TukoeIYSj",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "b504e926-f190-4e68-8690-8aa44c810bc4",
      "name": "Post Summarization",
      "type": "@n8n/n8n-nodes-langchain.chainSummarization",
      "position": [
        1100,
        -80
      ],
      "typeVersion": 2,
      "alwaysOutputData": true,
      "executeOnce": false,
      "retryOnFail": true,
      "notesInFlow": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1WqfCuQGU7Y6-jbz-sEOfap3ETGjLXiQP3z7Ej4v4UsY",
          "mode": "list",
          "cachedResultName": "sample 2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WqfCuQGU7Y6-jbz-sEOfap3ETGjLXiQP3z7Ej4v4UsY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 918551528,
          "mode": "list",
          "cachedResultName": "Sheet4",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WqfCuQGU7Y6-jbz-sEOfap3ETGjLXiQP3z7Ej4v4UsY/edit#gid=918551528"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "summary",
              "displayName": "summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "subreddit_subscribers",
              "displayName": "subreddit_subscribers",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "upvotes",
              "displayName": "upvotes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "postcontent",
              "displayName": "postcontent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "business_opportunity",
              "displayName": "business_opportunity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "keywords",
              "displayName": "keywords",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "e905d827-46e0-44c5-bece-1bb59052e360",
      "name": "Output The Results",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        1912,
        45
      ],
      "typeVersion": 4.5,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "qe4jgwJaIkSu0ne0",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "8dd5dcbb-6e11-4e61-a9ac-473155b42e5f",
      "name": "Merge 3 Inputs",
      "type": "n8n-nodes-base.merge",
      "position": [
        1692,
        45
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7038812d-f325-4196-89b6-3623d81dec7b",
              "name": "summary",
              "type": "string",
              "value": "={{ $json.response.text }}"
            }
          ]
        },
        "options": {}
      },
      "id": "1d696594-4c16-49ad-b4cf-7f10f60b9908",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "position": [
        1480,
        -80
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "modelName": "models/gemini-1.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1184,
        140
      ],
      "id": "65a75e06-287d-48fa-956c-a5081b4f3782",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "ClZXq5ExhTlM6lFa",
          "name": "Google Gemini(PaLM) Api account 3"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1f34c3f3-7be7-474c-9026-7058807a7b3d",
              "name": "date",
              "type": "string",
              "value": "={{ $json.date }}"
            },
            {
              "id": "0e0e5227-e37b-43fc-8a88-2bb76631108d",
              "name": "subreddit_subscribers",
              "type": "number",
              "value": "={{ $json.subreddit_subscribers }}"
            },
            {
              "id": "68e2ca82-6b1d-42ec-acc7-b784e9ed61b5",
              "name": "url",
              "type": "string",
              "value": "={{ $json.url }}"
            },
            {
              "id": "946800a2-ec8b-4f99-a4db-9248bf305747",
              "name": "upvotes",
              "type": "string",
              "value": "={{ $json.upvotes }}"
            },
            {
              "id": "da86d4d3-db84-44e3-a684-38aff2fd5b77",
              "name": "postcontent",
              "type": "string",
              "value": "={{ $json.postcontent }}"
            },
            {
              "id": "b67148e1-67a5-4b10-be6c-c819ff910be0",
              "name": "business_opportunity",
              "type": "string",
              "value": "={{ $json.sentimentAnalysis.category }}"
            },
            {
              "id": "69cd84d4-3f36-4fb6-9b20-2b6538037467",
              "name": "keywords",
              "value": "={{ $('Google Sheets').item.json.keywords }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "2f56a11d-81bf-404e-b43b-89630b884972",
      "name": "Edit Fields1",
      "type": "n8n-nodes-base.set",
      "position": [
        1472,
        170
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1MTC1_BDJLz0DA6R9MQlYzfSkfU_2K7JexPz8aQzheX4",
          "mode": "list",
          "cachedResultName": "Untitled spreadsheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MTC1_BDJLz0DA6R9MQlYzfSkfU_2K7JexPz8aQzheX4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1564283334,
          "mode": "list",
          "cachedResultName": "Sheet2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MTC1_BDJLz0DA6R9MQlYzfSkfU_2K7JexPz8aQzheX4/edit#gid=1564283334"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -160,
        45
      ],
      "id": "e16d6aec-2451-420a-a519-781d5f39f5e4",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "qe4jgwJaIkSu0ne0",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "## scarp the post form the reddit              \n- The keywords are stored in google sheet\n- we filter the post into new to see the recent post\n",
        "height": 380,
        "width": 1040
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -410,
        -175
      ],
      "id": "e038e8c8-cf69-4ac3-8785-f487024d7ef7",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Sentimental analysis \n",
        "height": 480,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        728,
        -75
      ],
      "id": "0346133d-61dd-4d01-bb43-d61aa903f604",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Summary the post\n",
        "height": 500,
        "width": 820,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1034,
        -170
      ],
      "id": "60674457-2f56-4806-8a01-e1e5d2842316",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "inputText": "=You are an expert in customer profiling and sentiment analysis.\n\nYour task is to analyze a user-generated post and decide if the author is a **Potential Buyer/Lead** — someone actively **seeking a solution**, asking for tool recommendations, struggling with a specific pain point, or expressing genuine interest in solving a problem.\n\n❌ Ignore or exclude posts that are:\n- Promoting or selling a product/service/course.\n- Sharing articles, affiliate links, or blog content.\n- General discussion without any need for a tool/solution.\n\nClassify the author into:\n\n1. **Lead** — Seeking a solution or asking for help.\n2. **Not a Lead** — Promotional, selling, posting content, or not seeking any help.\n\nThen, analyze the sentiment:\n- Positive: Author is excited/interested in solving their problem.\n- Neutral: Questioning or exploring, not urgent.\n- Negative: Frustrated, overwhelmed, or confused.\n\nOnly return results if the author is a **Lead**.\n\nPost content:\n{{ $json.postcontent }}",
        "options": {
          "categories": "Lead, Not a Lead",
          "systemPromptTemplate": "=You are a strict expert filter trained to identify potential buyers based on intent. Only classify users who are **clearly looking for a solution, asking for help, or experiencing a pain point**. Discard any post that is promotional, content marketing, general discussion, or passive commentary. Be concise. Output JSON only.\n\nCategories: {categories}\n",
          "includeDetailedResults": true,
          "enableAutoFixing": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.sentimentAnalysis",
      "typeVersion": 1,
      "position": [
        720,
        40
      ],
      "id": "3d05dd34-225b-4007-bae3-297e146b3fae",
      "name": "Lead Filter & Sentiment"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Posts By Features": {
      "main": [
        [
          {
            "node": "Select Key Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Posts": {
      "main": [
        [
          {
            "node": "Filter Posts By Features",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select Key Fields": {
      "main": [
        [
          {
            "node": "Lead Filter & Sentiment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Lead Filter & Sentiment",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Post Summarization": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge 3 Inputs": {
      "main": [
        [
          {
            "node": "Output The Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge 3 Inputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Post Summarization",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Merge 3 Inputs",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Get Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lead Filter & Sentiment": {
      "main": [
        [
          {
            "node": "Post Summarization",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "fad7af07-5e28-4ac2-9495-6e788ea0ffe6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "754f1595a5333f98c71a385ae239a3c6d1271f14801fcf61c4ad94ceec623443"
  },
  "id": "dZnzm5xH0dApod2Y",
  "tags": []
}